
body  {
  background-color: #FAFBFB;
  font-family: "Lucida Console", Monaco, monospace;
}


.card {
  text-align: center;
  border: grey solid;
  padding: 3rem;
  width: 17rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;

  
}

.clickNext {
  background-color:#ffcc66  ;
  color: black;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
}


input[type=submit] {
}





/* .graph-collection{



} */


