.imgCenter {
  text-align: center;
}

body  {
  background-image: url("https://previews.123rf.com/images/viktorijareut/viktorijareut1807/viktorijareut180700691/104932110-mathematics-pattern-background-with-different-math-symbols-colorful-school-pattern-for-children-math.jpg" );
}


.card {
  text-align: center;
  border: grey solid;
  padding: 3rem;
  width: 17rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;

  
}

.clickNext {
  background-color:#ffcc66  ;
  color: black;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
}

/* .graph-collection{



} */


