body  {
    background-color: #FAFBFB;
    font-family: Georgia,Times,Times New Roman,serif;
    background-image: linear-gradient(-90deg, #829DC2, #204B86);
  }

  .graph-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  
  .card {
    text-align: center;
    border: grey solid;
    padding: 2rem;
    width: 70%;

    display: inline-grid;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  .clickNext {
    background-color:#ffcc66  ;
    color: black;
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;
  }
  
  
  #header {
    background-color: #204B86;
    color: white;
    font-family: Georgia,Times,Times New Roman,serif; 
    font-size: 60px;
    text-align: left;
    padding-top: 50px;
    padding-right: auto;
    padding-bottom: 0px;
    padding-left: 50px;
}
    #subtext {
        background-color: #204B86;
        color: white;
        font-family: Georgia,Times,Times New Roman,serif; 
        font-size: 30px;
        text-align: left;
        padding-top: 10px;
        padding-right: auto;
        padding-bottom: 40px;
        padding-left: 50px;
    }

#dashboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 85%;
    color: white;
    font-family: Georgia,Times,Times New Roman,serif;

}

form {
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia,Times,Times New Roman,serif;
    
}

button {
    background-color: #71B9DA; 
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Georgia,Times,Times New Roman,serif; 
}

#submit {
    background-color: #71B9DA; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Georgia,Times,Times New Roman,serif; 
}

#graph-collection {
    font-size: 15px;
    font-family: Georgia,Times,Times New Roman,serif;
}

#scores {
    font-size: 20;
    font-family: Georgia,Times,Times New Roman,serif;
}

#leaderboard{
    font-family: Georgia,Times,Times New Roman,serif;
    color: white;
}


  
  
  
